@font-face {
  font-family: "Compagnon-Roman";
  src: url("fonts/Compagnon-Roman.woff");
  src: url("fonts/Compagnon-Roman.woff2") format("woff2");
}

@font-face {
  font-family: "Happy-Times-reg";
  src: url("fonts/happy-times-NG_regular_master_web.woff") format("woff");
}

@font-face {
  font-family: "Saol-Text-Light-Italic";
  src: url("fonts/saol_text_light_italic.woff") format("woff");
}

@font-face {
  font-family: "Terminal-Grotesque";
  src: url("fonts/terminal-grotesque.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceGrotesk-Medium";
  src: url("fonts/SpaceGrotesk-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "IBM-PS2-thin";
  src: url("fonts/Px437_IBM_PS2thin1.ttf") format("truetype");
}

html {
  overflow: hidden;
}

/* clock & date  */
.clock {
  position: absolute;
  top: 5vh;
  left: 5vw;
  transform: translateX(-50%) translateY(-50%);
  color: #e1e1e1;
  font-family: "IBM-PS2-thin", serif;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: none;
  z-index: 10;
}

#date {
  position: absolute;
  top: 5vh;
  left: 5vw;
  transform: translateX(-50%) translateY(-50%);
  color: #e1e1e1;
  font-family: "IBM-PS2-thin", serif;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: none;
  z-index: 9;
}

/* background */
body {
  background-color: black;
}

/* Elisa slaton is a */
.about {
  display: block;
  position: absolute;
  top: 60vh;
  left: 15vw;
  color: #e1e1e1;
  font-size: 20px;
  font-family: "Happy-Times-reg", serif;
  line-height: 1;
  z-index: 2;
  animation: fadein 2s;
  float: left;
  width: 15em;
  user-select: none;
}

.about span {
  font-size: 20px;
  font-family:
    "Saol-Text-Light-Italic",
    serif;
  line-height: 1;
  z-index: 2;
  animation: fadein 2s;
  user-select: none;
}

.pointy-arrow-link {
  position: absolute;
  bottom: 1px;
  left: 2vw;
  font-size: 20px;
  color: #e1e1e1;
  font-family: "IBM-PS2-thin", serif;
}

.pointy-arrow-link span {
  position: absolute;
  bottom: 17px;
  left: 10vh;
  font-size: 20px;
  color: #e1e1e1;
  font-family: "IBM-PS2-thin", serif;
  animation: wiggle 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
}

/* animation object */
canvas[resize] {
  width: 100%;
  height: 100%;
}

/* iphone xr */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
/* iphone xs */
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
/* iphone xs max */
    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)
  }

  /* Animations  */
  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes wiggle {
    0% {
      transform: rotate(10deg);
    }

    25% {
      transform: rotate(-10deg);
    }

    50% {
      transform: rotate(20deg);
    }

    75% {
      transform: rotate(-5deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes side-wave {
    0% {
      left: 2vw;
      top: 50px;
    }

    25% {
      left: 5vw;
      top: 50px;
    }
  }
